@model ResultsViewModel<PeopleViewModel>
@{
    ViewData["Title"] = "People";
}
<h1>People Index</h1>
@if (Model.Results?.Count() > 0)
{
    <div>
        @foreach (var person in Model.Results)
        {
            <div>
                <h4>@person.Name</h4>
                <div>
                    <p>Mass: @person.Mass</p>
                    <p>Height: @person.Height</p>
                    <p>Born: @person.BirthYear</p>
                </div>
            </div>
        }
    </div>
    <div>
        @if (Model.Previous is not null)
        {
            <a asp-action="Index" asp-route-page="@Model.PreviousPageNum">Previous</a>
        }
        @if (Model.Next is not null)
        {
            <a asp-action="Index" asp-route-page="@Model.NextPageNum">Next</a>
        }
    </div>
}
else
{
    <p>There are no results for this page.</p>
}
